<!DOCTYPE html>

{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>About me</title>{% endblock %}
</head>
<body>

{% block content %}
{#    {% include "duoshuo.html" %}#}
<div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">关于自我介绍</h2>

                    <p class="post-meta">

                    </p>
            </header>

                <div class="post-description">
                    <p>
                        2222222222222222222
                    </p>
                </div>
        </section>

</div><!-- /.blog-post -->
{% endblock %}

</body>
</html>